
.navbar-brand{
    font-size: 40px;
    color: rgb(60, 60, 240);
    font-weight: 900;
    padding-right: 200px;
}
.search_bar{
    margin-left: 200px;
}
#home{
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
}
#order{
    font-size: 20px;
    font-weight: 600; 
    padding-right: 20px;
}
#seller{
    text-align: center;
    color: royalblue;
    margin-top: 80px;
    padding-bottom: 50px;
}
#table,th,td{
    text-align: center;
    border: 2px solid black;
    background-color:aliceblue;
}
.pending{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 2px;
    font-weight: 600;
}
